{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="contact-details">Back</a>

      <h1 class="heading-large">

        What are your bank details
      </h1>
      <p>Intro copy here.</p>
      <form class="form" action="/url/of/next/page" method="post">

      <div class="form-group">
<fieldset data-required data-error="Cannot be blank">
        <label class="form-label-bold" for="account-number">Account number</label>

        <span class="form-hint">
   Do not enter more than 8 digits
 </span>
<input class="form-control" id="" name="account-number" value="{{ data[''] }}" type="number" pattern="[0-9]*" autocomplete="off">
      </div>

      <form>
        <div class="form-group">
          <fieldset>
            <legend>
              <span class="form-label-bold">
                Sort code
              </span>
            </legend>
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="dob-day"></label>
                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" >
              </div>
              <div class="form-group form-group-month">
                <label class="form-label" for="dob-month"></label>
                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
              </div>
              <div class="form-group form-group-year">
                <label class="form-label" for="dob-year"></label>
                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </fieldset>
        </div>
      </form>

        <div class="form-group">
          <p>
            <a href="check-list"><input class="button" href="check-list" type="submit" value="Continue"></a>
          </p>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
