{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <a class="link-back" href="contact-details">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{m.errors(errors)}}


      <h1 class="heading-large">
        What are your bank details?
      </h1>
      <!-- <p>Intro copy here.</p> -->


      <form class="form" action="check-list" method="post">

        {{m.govukTextInput('account-number', 'Account number', 'Must be either 6 or 8 numbers long', errors['account-number'].message)}}

        {{m.govukTextInput('sort-code', 'Sort code', false,  errors['sort-code'].message, 'form-control-1-4')}}

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
