{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
  <a class="link-back" href="contact-details">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{m.errors(errors)}}


      <h1 class="heading-large">
        Bank account you use to make payments
      </h1>

        <p>We need this so we can match your payments to your schedules. We will not use your bank details for anything else.</p>

      <form class="form" action="check-list" method="post">

        {{m.govukTextInput('account-number', 'Account number', false, errors['account-number'].message)}}

        {{m.govukTextInput('sort-code', 'Sort code', false,  errors['sort-code'].message, 'form-control-1-4')}}

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>


{% endblock %}
