{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
  <a class="link-back" href="start-page">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{m.errors(errors)}}

      <h1 class="heading-large">
        Employer this schedule is from
      </h1>


      <form class="form" action="contact-details" method="post">

        {{m.govukTextInput('business-name', 'Employer name', false, errors['business-name'].message)}}

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
