{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <a class="link-back" href="start-page">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{m.errors(errors)}}

      <h1 class="heading-large">
        Employer this schedule is from
      </h1>
      <!-- <p>Intro copy here.</p> -->

      <form class="form" action="contact-details" method="post">

        {{m.govukTextInput('business-name', 'Employer name', false, errors['business-name'].message)}}

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
