{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
  <a href="payment-date-4" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Your schedules
      </h1>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dd class="cya-answer">
          Paymentschedule1.csv
          </dd>
          <dd class="cya-answer">
            11 5 2018
          </dd>
          <dd class="cya-change">
            <a href="#0">
                  Delete
                </a>
          </dd>
        </div>


        <div>
          <dd class="cya-answer">
            Paymentschedule2.csv
          </dd>
          <dd class="cya-answer">
            11 5 2018
          </dd>
          <dd class="cya-change">
            <a href="#0">
                  Delete
                </a>
          </dd>
        </div>


        <div>
          <dd class="cya-answer">
            Paymentschedule3.csv
          </dd>
          <dd class="cya-answer">
            24 6 2018
          </dd>
          <dd class="cya-change">
            <a href="#0">
                  Delete
                </a>
          </dd>
        </div>


        <div>
          <dd class="cya-answer">
            Paymentschedule4.csv
          </dd>
          <dd class="cya-answer">
            15 7 2018
          </dd>
          <dd class="cya-change">
            <a href="#0">
                  Delete
                </a>
          </dd>
        </div>


      </dl>
      <p></p>

      <div class="form-group">
        <a href="confirmation-page" class="button">Send</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
