{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <a href="payment-date-3" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Your schedules
      </h1>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dd class="cya-answer">
            Yourfilename1.csv
          </dd>
          <dd class="cya-answer">
            11 5 2018
          </dd>
          <dd class="cya-change">
            <a href="#0">
                  Delete
                </a>
          </dd>
        </div>


        <div>
          <dd class="cya-answer">
            Yourfilename2.csv
          </dd>
          <dd class="cya-answer">
            11 5 2018
          </dd>
          <dd class="cya-change">
            <a href="#0">
                  Delete
                </a>
          </dd>
        </div>


        <div>
          <dd class="cya-answer">
            Yourfilename3.csv
          </dd>
          <dd class="cya-answer">
            24 6 2018
          </dd>
          <dd class="cya-change">
            <a href="#0">
                  Delete
                </a>
          </dd>
        </div>


      </dl>
      <p></p>

      <div class="form-group">
        <a href="confirmation-page" class="button">Send</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
