{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a class="link-back" href="bank-details">Back</a>
  <div class="grid-row">
    <div class="column-full">
      <div class="flash-card">
        <header>
          <h1 class="heading-large">Check that your schedule only includes:</h1>
        </header>
        <div class="grid-row">
          <div class="column-two-thirds">

            <ol class="list list-bullet">
              <li>
                  employee names
              </li>
              <li>
                  National Insurance numbers
              </li>
              <li>
                  amount deducted from each employee
              </li>
            </ol>
            <a class="button" href="upload" role="button">Continue</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
