{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <br>
        <h1 class="heading-xlarge">
          Sent
        </h1>
      </div>

      <h2 class="heading-medium">What happens next</h2>
      <p>You don&rsquo;t need to do anything else.</p>

      <p>We will use the information you've sent to reduce your employees' debt with DWP.</p>

      <p>If we have any questions, we'll get in touch with your named contact.</p>

    </div>
  </div>

</main>

{% endblock %}
