{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <br>
        <h1 class="heading-xlarge">
          Application submitted
        </h1>
      </div>

      <h2 class="heading-medium">What happens next</h2>
      <p>You don&rsquo;t need to do anything else.</p>

      <p>DWP will use the information you&rsquo;ve sent to update your employees&rsquo; outstanding debt amounts with DWP. </p>

      <p>If there are any problems with the information you&rsquo;ve sent someone from DWP will get in touch with your named contact.</p>

    </div>
  </div>

</main>

{% endblock %}
