{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Sent
        </h1>
      </div>



              <table>
          <tbody><tr>
              <th width="100" aria-sort="ascending" class="heading-small">
                Employer name
              </th>
              <th width="100" aria-sort="ascending" class="heading-small">
                File sent
              </th>
              <th width="100" aria-sort="ascending" class="heading-small">
                Payment date
              </th>


          </tr>
        <tr>
            <td>
              Smith Limited
            </td>
            <td>
              Yourfilename1.csv
            </td>
            <td>
              11 5 2018
            </td>


        </tr>

        <tr>
            <td>
              Smith Limited
            </td>
            <td>
              Yourfilename2.csv
            </td>
            <td>
              11 5 2018
            </td>


        </tr>

        <tr>
            <td>
              Smith Limited
            </td>
            <td>
              Yourfilename3.csv
            </td>
            <td>
              24 6 2018
            </td>


        </tr>
    </tbody></table>

<p></p>
      <h2 class="heading-medium">What happens next</h2>
      <p>You don&rsquo;t need to do anything else.</p>

      <p>We will use the information you've sent to reduce your employees' debt with DWP.</p>

      <p>If we have any questions, we'll get in touch with your named contact.</p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Get help</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li>If you have questions, contact our employer helpline on 0800 916 0614.</li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
