{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
                <h1 class="heading-xlarge">
                  Sent
                </h1>
                <p class="font-large">
                  Your reference number is <br>
                  <strong class="bold">HDJ2123F</strong>
                </p>
              </div>
      <p>We have sent you a confirmation email.</p>
      <h2 class="heading-medium">What happens next</h2>
      <p>You don&rsquo;t need to do anything else.</p>

      <p>We will use the information you've sent to reduce your employees' debt with DWP.</p>

      <p>If we have any questions, we'll get in touch with your named contact.</p>

    </div>
  </div>

</main>

{% endblock %}
