{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="business-name">Back</a>

      <h1 class="heading-large">
        <span class="heading-secondary">Question 2 of 5</span>
        What are your contact details
      </h1>
      <p>Intro copy here.</p>
      <form class="form" action="/url/of/next/page" method="post">

      <div class="form-group">
        <label class="form-label-bold" for="full-name-f1">Contact name</label>
        <span class="form-hint">
   Please enter your first and last name
 </span>
<input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="full-name-f1">Email address</label>
<input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="full-name-f1">Telephone number</label>
<input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>

        <div class="form-group">
          <p>
            <a class="button" href="bank-details" role="button">Continue</a>
          </p>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
