{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
  <a class="link-back" href="business-name">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{m.errors(errors)}}

      <h1 class="heading-large">
        Who can we contact with any queries?
      </h1>

      <form class="form" action="bank-details" method="post">


        {{m.govukTextInput('contact-name', 'Name of contact or team', false, errors['contact-name'].message)}}

        {{m.govukTextInput('email', 'Email address', false, errors['email'].message)}}

        {{m.govukTextInput('phone', 'Phone number', fasle,  errors['phone'].message)}}


        <div class="form-group">
          <fieldset>

            <legend>
              <span class="body-text">What queries should we use this contact for? (Optional)</span>
            </legend>

            <div class="multiple-choice">
              <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
              <label for="waste-type-1">Schedule/Deduction</label>
            </div>
            <div class="multiple-choice">
              <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
              <label for="waste-type-2">BACS payment</label>
            </div>

          </fieldset>
        </div>


        <ul class="list">
          <li><a href="contact-details-2">Add another contact</a></li>
        </ul>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
