{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <a class="link-back" href="contact-details">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{m.errors(errors)}}

      <h1 class="heading-large">
        Who can we contact with any queries?
      </h1>
      <!-- <p>Intro copy here.</p> -->

      <form class="form" action="bank-details" method="post">

        <label class="form-label" for="Name of contact or team">
          Name of contact or team
        </label>
        <input class="form-control" type="text" name="Name of contact or team">

    <p></p>

        <label class="form-label" for="Email address">
          Email address
        </label>
        <input class="form-control" type="text" name="Email address">

    <p></p>

        <label class="form-label" for="Phone number">
          Phone number
        </label>
        <input class="form-control" type="text" name="Phone number">

  <p></p>

        <label class="form-label" for="ni-number">
          What queries should we use this contact for? (Optional)
          <span class="form-hint">
            For example payment queries or schedule queries
          </span>
        </label>
        <input class="form-control" id="ni-number" type="text" name="ni-number">

  <p></p>


        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
