{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <a class="link-back" href="business-name">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{m.errors(errors)}}

      <h1 class="heading-large">
        What are your contact details?
      </h1>
      <!-- <p>Intro copy here.</p> -->

      <form class="form" action="bank-details" method="post">

        {{m.govukTextInput('contact-name', 'Full name', false, errors['contact-name'].message)}}

        {{m.govukTextInput('email', 'Email address', false, errors['email'].message)}}

        {{m.govukTextInput('phone', 'Phone number', fasle,  errors['phone'].message)}}

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
