{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        DEA
            <span class="heading-secondary">Verion 1.0</span>
      </h1>{{releaseVersion | log }}
      <h2 class="heading-medium">About this prototype</h2>

      <p>This is a prototype for sending direct earnings attachement schedules to the Department for Work and Pensions (DWP).</p>
        <p>
          <a class="button button-start" href="start-page" role="button">Start prototype</a>
        </p>

    </div>
  </div>
</main>

{% endblock %}
