{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Direct Earnings Attachment
            <span class="heading-secondary">Version 3.0</span>
      </h1>{{releaseVersion | log }}
      <h2 class="heading-medium">About this prototype</h2>

      <p>This is a prototype for sending direct earnings attachment schedules to the Department for Work and Pensions (DWP).</p>
        <p>
          
          <a class="button button-start" href="start-page" role="button">Start prototype</a>
        </p>

        <h2 class="heading-medium">Previous versions</h2>
          <ul class="list">
            <li><a href="https://dea-dwp.herokuapp.com/">Version 1</a></li>
            <li><a href="https://dea-dwp-v2.herokuapp.com/">Version 2</a></li>
          </ul>

    </div>
  </div>
</main>

{% endblock %}
