{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li>Send direct earnings attachment schedule</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>This is a secure service for sending direct earnings attachment schedules to the Department for Work and Pensions (DWP).​</p>

  <h2 class="heading-medium">Before you start</h2>
    <p>Your schedule must be in Excel, CSV, Word, XML or HTML format. It should only contain:</p>
      <ul class="list list-bullet">
        <li>employee names</li>
        <li>National Insurance numbers</li>
        <li>amount deducted from each employee</li>
      </uL>
      <p>
        <a class="button button-start" href="business-name" role="button">Start</a>
      </p>
<br>
      <div class="notice">
        <i class="icon icon-information">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          If you make one payment per employee you do not need to send a schedule.
        </strong>
      </div>

    </div>
    <div class="column-third">



    </div>
  </div>

</main>

{% endblock %}
