{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="check-list">Back</a>

      <h1 class="heading-large">
        Upload your payment information
      </h1>
      <p>Upload one schedule at a time. You'll be able to upload another file later.</p>

      <form class="form" action="payment-date-3" method="post">

        <div class="form-group">
          <label class="form-label visuallyhidden" for="file-input">
            Upload file
          </label>
          <input type="file" name="uploaded-file-3" id="selectedFile" style="display: none;" class="js-upload" />
          <a class="button button-secondary" onclick="document.getElementById('selectedFile').click();">Choose file</a>
        </div>

        <p class="js-upload_filename" style="display: none"></p>

        <div class="panel panel-border-wide">
          <p>File size limit: 4MB.</p>
          <p>File types accepted: Excel, CSV, Word, XML, HTML</p>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
